@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background-image: url('/background.jpg');
  background-size: 100% auto;              /* zoom in horizontally */
  background-position: 40% left;         /* shift image left */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  min-height: 100vh;
}

